Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Load Dataset and Overview

In [2]:
movies_df = pd.read_csv('C:\\Users\\kayd7\\DDI_MIL\\Midterm Project\\movies.csv')
movies_df.info()
movies_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722317 entries, 0 to 722316
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    722317 non-null  int64
 1   title                 722311 non-null  object
 2   genres                512000 non-null  object
 3   original_language     722317 non-null  object
 4   overview              604074 non-null  object
 5   popularity            722317 non-null  float64
 6   production_companies  337391 non-null  object
 7   release_date          670768 non-null  object
 8   budget                722317 non-null  float64
 9   revenue               722317 non-null  float64
 10  runtime               687982 non-null  float64
 11  status                722317 non-null  object
 12  tagline               108476 non-null  object
 13  vote_average          722317 non-null  float64
 14  vote_count            722317 non-null  float64
 15  credits               497603 non-null  object
 16  keywords              210639 non-null  object
 17  poster_path           537824 non-null  object
 18  backdrop_path         223211 non-null  object
 19  recommendations       36016 non-null   object
dtypes: float64(6), int64(1), object(13)
memory usage: 110.2+ MB

,id,title,genres,original_language,overview,popularity,production_companies,release_date,budget,revenue,runtime,status,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations
0,615656,Meg 2: The Trench,Action-Science Fiction-Horror,en,An exploratory dive into the deepest depths of...,8763.998,Apelles Entertainment-Warner Bros. Pictures-di...,2023-08-02,129000000.0,3.520565e+08,116.0,Released,Back for seconds.,7.079,1365.0,Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...,based on novel or book-sequel-kaiju,/4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg,/qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg,1006462-298618-569094-1061181-346698-1076487-6...
1,758323,The Pope's Exorcist,Horror-Mystery-Thriller,en,Father Gabriele Amorth Chief Exorcist of the V...,5953.227,Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...,2023-04-05,18000000.0,6.567582e+07,103.0,Released,Inspired by the actual files of Father Gabriel...,7.433,545.0,Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...,spain-rome italy-vatican-pope-pig-possession-c...,/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg,/hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg,713704-296271-502356-1076605-1084225-1008005-9...
2,533535,Deadpool & Wolverine,Action-Comedy-Science Fiction,en,A listless Wade Wilson toils away in civilian ...,5410.496,Marvel Studios-Maximum Effort-21 Laps Entertai...,2024-07-24,200000000.0,1.326387e+09,128.0,Released,Come together.,7.765,3749.0,Ryan Reynolds-Hugh Jackman-Emma Corrin-Matthew...,hero-superhero-anti hero-mutant-breaking the f...,/8cdWjvZQUExUUTzyp4t6EDMubfO.jpg,/dvBCdCohwWbsP5qAaglOXagDMtk.jpg,573435-519182-957452-1022789-945961-718821-103...
3,667538,Transformers: Rise of the Beasts,Action-Adventure-Science Fiction,en,When a new threat capable of destroying the en...,5409.104,Skydance-Paramount-di Bonaventura Pictures-Bay...,2023-06-06,200000000.0,4.070455e+08,127.0,Released,Unite or fall.,7.340,1007.0,Anthony Ramos-Dominique Fishback-Luna Lauren V...,peru-alien-end of the world-based on cartoon-b...,/gPbM0MK8CP8A174rmUwGsADNYKD.jpg,/woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg,496450-569094-298618-385687-877100-598331-4628...
4,693134,Dune: Part Two,Science Fiction-Adventure,en,Follow the mythic journey of Paul Atreides as ...,4742.163,Legendary Pictures,2024-02-27,190000000.0,6.838137e+08,167.0,Released,Long live the fighters.,8.300,2770.0,Timothée Chalamet-Zendaya-Rebecca Ferguson-Jav...,epic-based on novel or book-fight-sandstorm-sa...,/czembW0Rk1Ke7lCJGahbOhdCuhV.jpg,/xOMo8BRK7PfcJv9JCnx7s5hj0PX.jpg,438631-763215-792307-1011985-467244-634492-359...

In [3]:
movies_df.describe()

,id,popularity,budget,revenue,runtime,vote_average,vote_count
count,722317.000000,722317.000000,7.223170e+05,7.223170e+05,6.879820e+05,722317.000000,722317.000000
mean,526920.121246,1.918179,4.043453e+05,1.007747e+06,1.990905e+02,2.446389,28.484715
std,253200.153542,23.692240,8.242868e+06,2.048321e+07,8.584257e+04,3.176491,396.575042
min,2.000000,0.000000,0.000000e+00,-1.200000e+01,0.000000e+00,0.000000,0.000000
25%,328914.000000,0.600000,0.000000e+00,0.000000e+00,5.000000e+00,0.000000,0.000000
50%,533351.000000,0.600000,0.000000e+00,0.000000e+00,5.000000e+01,0.000000,0.000000
75%,737872.000000,1.303000,0.000000e+00,0.000000e+00,9.000000e+01,5.600000,2.000000
max,968161.000000,8763.998000,5.000000e+09,2.920357e+09,5.050505e+07,10.000000,34857.000000

In [4]:
movies_df.nunique()

id                      662083
title                   575319
genres                   11049
original_language          167
overview                541883
popularity               20858
production_companies    147599
release_date             41473
budget                    4279
revenue                  13078
runtime                    635
status                       6
tagline                  95909
vote_average              3206
vote_count                3540
credits                 423216
keywords                119802
poster_path             483218
backdrop_path           197369
recommendations          32103
dtype: int64

In [5]:
movies_df.isnull().sum()

id                           0
title                        6
genres                  210317
original_language            0
overview                118243
popularity                   0
production_companies    384926
release_date             51549
budget                       0
revenue                      0
runtime                  34335
status                       0
tagline                 613841
vote_average                 0
vote_count                   0
credits                 224714
keywords                511678
poster_path             184493
backdrop_path           499106
recommendations         686301
dtype: int64

In [6]:
movies_df['recommendations']
movies_df['poster_path']
movies_df['backdrop_path']
movies_df['tagline']
movies_df['keywords']

0                       based on novel or book-sequel-kaiju
1         spain-rome italy-vatican-pope-pig-possession-c...
2         hero-superhero-anti hero-mutant-breaking the f...
3         peru-alien-end of the world-based on cartoon-b...
4         epic-based on novel or book-fight-sandstorm-sa...
                                ...
722312                                                  NaN
722313                                            lost film
722314                   bullying-slice of life-school life
722315                                                  NaN
722316              brothel-male prostitution-street walker
Name: keywords, Length: 722317, dtype: object

#Handle Missing Values
#Remove columns that do not support the research
#Convert Release_Date to Datetime
#Possible: Set a filter on the budget/revenue columns
#Possible: Add additional columns for Return on Investment (ROI) and Profit
#Possible: Remove non-english titles