Import Libraries

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
movies_df = pd.read_csv('C:\\Users\\kayd7\\DDI_MIL\\Midterm Project\\DDI_Midterm_Movies_EDA\\data\\movies_cleaned.csv')

movies_df.info()
movies_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5581 entries, 0 to 5580
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      5581 non-null   int64
 1   title                   5581 non-null   object
 2   genre                   5581 non-null   object
 3   top_2_genres            5581 non-null   object
 4   top_production_company  5581 non-null   object
 5   budget                  5581 non-null   float64
 6   revenue                 5581 non-null   float64
 7   profit                  5581 non-null   float64
 8   return_on_investment    5581 non-null   float64
 9   release_date            5581 non-null   object
 10  release_year            5581 non-null   int64
 11  release_month           5581 non-null   int64
 12  actor_1                 5581 non-null   object
 13  actor_2                 5578 non-null   object
 14  actor_3                 5575 non-null   object
 15  actor_4                 5570 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 697.8+ KB

,id,title,genre,top_2_genres,top_production_company,budget,revenue,profit,return_on_investment,release_date,release_year,release_month,actor_1,actor_2,actor_3,actor_4
0,615656,Meg 2: The Trench,Action,Action-Science Fiction,Apelles Entertainment,129000000.0,3.520565e+08,2.230565e+08,173.0,2023-08-02,2023,8,Jason Statham,Wu Jing,Shuya Sophia Cai,Sergio Peris
1,758323,The Pope's Exorcist,Horror,Horror-Mystery,Screen Gems,18000000.0,6.567582e+07,4.767582e+07,265.0,2023-04-05,2023,4,Russell Crowe,Daniel Zovatto,Alex Essoe,Franco Nero
2,533535,Deadpool & Wolverine,Action,Action-Comedy,Marvel Studios,200000000.0,1.326387e+09,1.126387e+09,563.0,2024-07-24,2024,7,Ryan Reynolds,Hugh Jackman,Emma Corrin,Matthew Macfadyen
3,667538,Transformers: Rise of the Beasts,Action,Action-Adventure,Skydance,200000000.0,4.070455e+08,2.070455e+08,104.0,2023-06-06,2023,6,Anthony Ramos,Dominique Fishback,Luna Lauren Velez,Dean Scott Vazquez
4,693134,Dune: Part Two,Science Fiction,Science Fiction-Adventure,Legendary Pictures,190000000.0,6.838137e+08,4.938137e+08,260.0,2024-02-27,2024,2,Timothée Chalamet,Zendaya,Rebecca Ferguson,Javier Bardem